<div class="container">
  <h2 class="text-center pt-4">Artistas en Venus fest</h2>
</div>

<div class="container mt-5 pb-5">
  <main class="container">
    <div class="row">
      <div *ngFor="let item of data" class="col-lg-4 col-md-6 col-sm-12 p-3">
        <div class="card">
          <img [src]="item.foto_artista" class="card-img-top" alt="Foto del artista">
          <div class="card-body">
            <h5 class="card-title">{{ item.nombre_artistico }}</h5>
            <hr>
            <p class="card-text font-weight-bold">Descripción</p>
            <p class="card-text">{{ item.descripcion_proyecto }}</p>
            <hr>
            <p class="card-text font-weight-bold">Redes sociales</p>
            <a [href]="item.enlaces_redes_sociales" class="btn btn-primary">Visitar</a>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
