<div class="container">
  <h2 class="text-center pt-5 pb-5">Artistas en Venus Fest</h2>

  <div class="text-center pt-3">
    <form class="d-inline-flex align-items-center mx-auto">
      <input class="form-control rounded-2 me-2" type="search" placeholder="Buscar" name="buscar" [(ngModel)]="nombreBusqueda">
      <button class="btn btn-secondary rounded-2 my-2 my-sm-0" (click)="filtrarArtistas()" type="submit">Buscar</button>
    </form>
    
  </div>
</div>

<div class="container mt-5 pb-5">
  <main class="container">
    <div class="row">
      <div *ngFor="let item of dataTemporal" class="col-lg-4 col-md-6 col-sm-12 p-3">
        <div class="card">
          <img [src]="item.foto_artista" class="card-img-top" alt="Foto del artista">
          <div class="card-body">
            <h5 class="card-title">{{ item.nombre_artistico }}</h5>
            <hr>
            <p class="card-text font-weight-bold">Descripción</p>
            <p class="card-text">{{ item.descripcion_proyecto }}</p>
            <hr>
            <p class="card-text font-weight-bold">Redes sociales</p>
            <a [href]="item.enlaces_redes_sociales" class="btn btn-primary">Visitar</a>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

