<div class="container mt-4">

    <h2 class="text-center">Sobre nosotros?</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 d-flex justify-content-center">
            <img src="assets/images/festival1.jpg" class=" mt-3 img-fluid img-thumbnail" alt="Imagen de Festival">
        </div>
        <div class="col-md-6 mt-5 d-flex align-items-center">
            <p>En VenusFest no solo podrás disfrutar de la música en vivo, sino que también reunimos a una
                variedad de artistas de diferentes disciplinas, desde escultores hasta tatuadores, para ofrecerte una
                experiencia completa e inolvidable. Queremos que descubras nuevas formas de arte y que te sumerjas en un
                mundo de creatividad y talento.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mt-5 d-flex align-items-center">
            <div class="column">
                <p>En VenusFest, creemos en la diversidad y la inclusión, por lo que nos esforzamos por ofrecer una
                    plataforma para todos los artistas que quieran formar parte de nuestro festival. Si tienes una
                    habilidad
                    o talento que quieras mostrar al mundo, no dudes en ponerte en contacto con nosotros para formar
                    parte
                    de nuestra comunidad de artistas.</p>
                <p class="pt-3">¡Gracias por elegir VenusFest como tu destino de entretenimiento y cultura! Esperamos
                    verte
                    pronto en nuestro festival.</p>
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <img src="assets/images/festival2.jpg" class="mb-3 img-fluid img-thumbnail" alt="Imagen de Festival">
        </div>
    </div>
</div>