<div id="formDiv" class="container">
    <div class="pb-5 pt-5 ps-5 pe-5">
        <form>
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre completo</label>
                <input type="text" class="form-control" id="nombre" placeholder="Ej. Juan Pérez">
            </div>
            <div class="mb-3">
                <label for="correo" class="form-label">Dirección de correo electrónico</label>
                <input type="email" class="form-control" id="correo" placeholder="Ej. juan.perez@gmail.com">
            </div>
            <div class="mb-3">
                <label for="telefono" class="form-label">Número de teléfono</label>
                <input type="tel" class="form-control" id="telefono" placeholder="Ej. +34 123 456 789">
            </div>
            <div class="mb-3">
                <label for="direccion" class="form-label">Dirección postal</label>
                <input type="text" class="form-control" id="direccion" placeholder="Ej. Calle Principal 123">
            </div>
            <div class="mb-3">
                <label for="fecha" class="form-label">Fecha de nacimiento</label>
                <input type="date" class="form-control" id="fecha">
            </div>
            <div class="mb-3">
                <label for="genero" class="form-label">Género</label>
                <select class="form-select" id="genero">
                    <option value="masculino">Masculino</option>
                    <option value="femenino">Femenino</option>
                    <option value="otro">Otro</option>
                </select>
            </div>
        </form>
    </div>

</div>