<div class="container mt-3">
    <h2 class="text-center">Trabaja con nosotros</h2>
  </div>
  
  <div class="container">
    <div class="pb-5 pt-3 ps-5 pe-5">
      <div>
        <div *ngIf="this.artista.mostrarAlertas" class="alert alert-danger">
          <div class="d-flex align-items-center ">
            <button type="button" class="btn btn-close me-2" aria-label="Cerrar" (click)="cerrarAlerta()"></button>
            <p class="m-0">Por favor, completa todos los campos obligatorios</p>
          </div>
        </div>
      </div>
  
      <form>
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="mb-3">
              <label for="nombre" class="form-label fw-bold text-dark">Nombre:</label>
              <input type="text" class="form-control rounded-3" id="nombre" name="nombre" [(ngModel)]="artista.nombre" placeholder="Ejemplo: Juan Pérez" required>
            </div>
            <div class="mb-3">
              <label for="nombre-artistico" class="form-label fw-bold text-dark">Nombre artístico:</label>
              <input type="text" class="form-control rounded-3" id="nombre-artistico" name="nombre-artistico" [(ngModel)]="artista.nombre_artistico" placeholder="Ejemplo: Juanito" required>
            </div>
            <div class="mb-3">
              <label for="redes" class="form-label fw-bold text-dark">Enlaces a redes sociales:</label>
              <input type="url" class="form-control rounded-3" id="redes" name="redes" [(ngModel)]="artista.enlaces_redes_sociales" placeholder="Ejemplo: https://twitter.com/juanito">
            </div>
          </div>
  
          <div class="col-sm-12 col-md-6">
            <div class="mb-3">
              <label for="correo" class="form-label fw-bold text-dark">Correo electrónico:</label>
              <input type="email" class="form-control rounded-3" id="correo" name="correo" [(ngModel)]="artista.email" placeholder="Ejemplo: juan@example.com" required>
            </div>
            <div class="mb-3">
              <label for="telefono" class="form-label fw-bold text-dark">Teléfono:</label>
              <input type="tel" class="form-control rounded-3" id="telefono" name="telefono" [(ngModel)]="artista.telf" placeholder="Ejemplo: 1234567890" required>
            </div>
            <div class="mb-3">
              <label for="direccion" class="form-label fw-bold text-dark">Dirección postal:</label>
              <input type="text" class="form-control rounded-3" id="direccion" name="direccion" [(ngModel)]="artista.direccion_postal" placeholder="Ejemplo: Calle Principal 123" required>
            </div>
          </div>
        </div>
        <div class="mb-3">
            <label for="disponibilidad" class="form-label fw-bold text-dark">Disponibilidad:</label>
            <input type="text" class="form-control rounded-3" id="disponibilidad" name="disponibilidad" [(ngModel)]="artista.disponibilidad" placeholder="Ejemplo: Tiempo completo">
          </div>
          
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="mb-3">
                <label for="descripcion" class="form-label fw-bold text-dark">Descripción del proyecto:</label>
                <textarea class="form-control rounded-3" id="descripcion" name="descripcion" rows="4" cols="50" [(ngModel)]="artista.descripcion_proyecto" required placeholder="Ejemplo: Breve descripción del proyecto"></textarea>
              </div>
              <div class="mb-3">
                <label for="tecnico" class="form-label fw-bold text-dark">Requerimientos técnicos:</label>
                <textarea class="form-control rounded-3" id="tecnico" name="tecnico" rows="4" cols="50" [(ngModel)]="artista.requerimientos_tecnicos" placeholder="Ejemplo: Equipo necesario"></textarea>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="mb-3">
                <label for="experiencia" class="form-label fw-bold text-dark">Experiencia previa:</label>
                <textarea class="form-control rounded-3" id="experiencia" name="experiencia" rows="4" cols="50" [(ngModel)]="artista.experiencia_previa" placeholder="Ejemplo: Proyectos anteriores"></textarea>
              </div>
              <div class="mb-3">
                <label for="condiciones" class="form-label fw-bold text-dark">Condiciones de participación:</label>
                <textarea class="form-control rounded-3" id="condiciones" name="condiciones" rows="4" cols="50" [(ngModel)]="artista.condiciones_participacion" placeholder="Ejemplo: Términos y condiciones"></textarea>
              </div>
            </div>
          </div>
          
          <div class="mb-3">
            <label for="imagen" class="form-label fw-bold text-dark">Imagen local:</label>
            <input type="file" class="form-control rounded-3" id="imagen" name="imagen" [(ngModel)]="artista.foto_artista">
          </div>
          
          <div class="mb-3">
            <label for="imagenUrl" class="form-label fw-bold text-dark">Enlace de imagen:</label>
            <input type="text" class="form-control rounded-3" id="imagenUrl" name="imagenUrl" [(ngModel)]="artista.foto_artista" placeholder="URL de la imagen">
          </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="cookies" required>
                <label class="form-check-label fw-bold  text-dark" for="cookies">
                    Acepto el uso de cookies.
                </label>
            </div>


            <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary rounded-3" (click)="enviarDatosNosotros()">Enviar</button>
            </div>
        </form>
    </div>
</div>